<% layout('layout/no container.ejs') %>
<main>
    <div class="main-content container">
        <div class="signup-box">
            <div class="logo">
                <a class="navbar-link" href="/campgrounds" style="color:black;"><i class="fas fa-fire-alt" style="color: #e85d04;"></i> Anurag App</a>
            </div>
            <div class="signin-name">
                <h2>Sign Up</h2>
            </div>
            <form action="/register" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" name="user[username]" id="username" placeholder="Username" required style="width: 80%;">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" name="user[email]" id="email" placeholder="Email" required style="width: 80%;">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" name="user[password]" id="password" placeholder="Password" required style="width: 80%;">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-dark" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="sign-up mt-2">
                <p>
                    Already have an account?
                    <div class="sign-in-box">
                        <a href="/login">Sign In here</a>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <div class="img">
        <img src="/img/register.jpg" alt="" />
    </div>
</main>
